/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:rgb(70, 69, 69);
    font-family: 'Ubuntu';

    font-size: .9rem;
}